.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  padding-top: 2rem;
}

span.title {
  color: white;
  font-size: 2rem;
}

.content {
  width: 50%;
  position: relative;
}

.new-btn {
  position: absolute;
  background: rgb(49, 118, 184);
  border: none;
  padding: 0.5rem;
  color: white;
  border-radius: 0.25rem;
  font-size: 1rem;
  right: 0;
}